.pad-top-bot {
  padding: 20px 0;
}

.dark-grey {
  color:#696969;
}

.container {
  width:100%;
}

textarea {
  width:250px;
  height:180px;
  padding:10px;
  border:none;
  box-shadow:3px 4px 24px -4px rgba(92,92,92,0.79);
}
textarea:focus {
  background: grey;
  color:white;
}
/*.bg-color:nth-child(even) {
  background-color: #dddddd;
}

.bg-color:nth-child(odd) {
  background-color: white;
}*/

.bg-color {
  background-color: white;
  padding: 10px 0;
}
