<%= form_tag(admin_dashboard_stock_search_path, method: :get, remote: true) do %>
  <div style="display:flex;">
    <%= date_field_tag 'date_from', @date_from%>
    <%= submit_tag 'Search', class: 'stock-search-btn' %>
  </div>

<% end %>

<div class="results-table"></div>
