<div id="map"></div>

<div id="legend">
  <span>LEGEND</span>
  <p><img src="http://maps.google.com/mapfiles/ms/micons/blue-dot.png" alt="google-maps-blue-marker" />Postcode Search</p>
  <p><img src="http://maps.google.com/mapfiles/ms/micons/red-dot.png" alt="google-maps-red-marker" />Nearby Pharmacies</p>
</div>

<style>
  #map {
    height:600px;
  }

  #legend {
    padding:16px;
  }

  #legend span {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    line-height: 16px;
  }

  #pharmacy-map-column {
    align-items: center;
    display:none;
  }
</style>
