<% if @geocode_postcode.empty? %>
  <div class="flash">
    <%= @result %>
  </div>
<% elsif !@geocode_postcode.empty? && @pharmacy.empty? %>
  <div class="flash">
    Oops! No nearby pharmacys found, please widen your search!
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <% if params[:search].present? %>
        <th colspan="3" style="text-align:center;font-size:1.6em;">Nearby Pharmacies</th>
      <% else %>
        <th colspan="2" style="text-align:center;font-size:1.6em;">Nearby Pharmacies</th>
      <% end %>
    </tr>
    <tr>
      <th scope="col">Pharmacy</th>
      <% if params[:search].present? %>
        <th scope="col">Distance</th>
      <% end %>
      <th scope="col">Postcode</th>
    </tr>
  </thead>
  <tbody>
  <% @pharmacy.each do |pharmacy| %>
    <tr>
      <td><%= link_to pharmacy.name, admin_company_path(pharmacy.id) %></td>
      <% if params[:search].present? %>
        <td><%= pharmacy.distance.round(2) %> miles</td>
      <% end %>
      <td><%= pharmacy.postcode %></td>
    </tr>
  <% end %>
  </tbody>
</table>
