<div id="map">
  <%# center = "#{pharmacy.latitude},#{pharmacy.longitude}" %>
  <%# my_url = "https://maps.googleapis.com/maps/api/staticmap?&size=640x640&sensor=false&zoom=10" %>
  <%# @pharmacy.each do |pharmacy| %>
  <%# my_url += "&markers=color:blue%7Clabel:S%7C#{params[:search]}&markers=#{pharmacy.latitude}%2C#{pharmacy.longitude}&key=AIzaSyC0C-SkI5TYEeRaIft86MsCGUEVzEbRFMo" %>
  <%# end %>
  <%#= image_tag my_url %>
</div>

<div id="legend"></div>

<style>
  #map {
    height:600px;
  }
</style>
