// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";
// @import "active_admin/base";
@import "chosen";
@import "admin/index";
// @import "select2";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//.status_tag { background: #6090DB; }
 .error {background:#dd1c1c;}
 .done {background:#8DAA88;}
 .warning {background:orange;}
 .blue {background:#1a8fc6;}
 .good-level {background:#8DAA88;font-size:1.2em;}
 .okay-level {background:orange;font-size:1.2em;}
 .bad-level {background:#dd1c1c;font-size:1.2em;}
 .status {color:#fff;text-transform: uppercase;letter-spacing: 0.15em;padding: 3px 5px 2px 5px;}

// #selecttwo {
//   // width:200px;
//   width: calc(80% - 22px);
// }


#order_user_id {
  margin-top: 10px;
}

.margin-top {
  margin-top: 10px;
}

select {
  color:grey;
}

span {
  color:grey
}

.f-label {
  padding-left: 10px;
  display: block;
  width: 19.5%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
}
