// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "font-awesome-sprockets";
@import "font-awesome";
@import "active_admin/mixins";
@import "active_material";
// @import "active_admin/base";
@import "chosen";
@import "admin/index";
@import "datetimepicker/jquery.datetimepicker.min";

// @import "select2";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//.status_tag { background: #6090DB; }
 .error {background:#dd1c1c;}
 .done {background:#8DAA88;}
 .warning {background:orange;}
 .blue {background:#1a8fc6;}
 .good-level {background:#8DAA88;font-size:1.2em;}
 .okay-level {background:orange;font-size:1.2em;}
 .bad-level {background:#dd1c1c;font-size:1.2em;}
 // .status {color:#fff;text-transform: uppercase;letter-spacing: 0.15em;padding: 3px 5px 2px 5px;}
 .status {font-size: 0.75rem;font-style: normal;font-weight: 500;-webkit-font-smoothing: antialiased;border-radius: 3px;color: #fff;display: inline-block;letter-spacing: 0.1em;line-height: 16px;padding: 4px 8px;text-decoration: none;text-transform: uppercase;white-space: nowrap;align-items: center;margin:12px;}

// semantic errors
.errors {color: red;padding-top: 10px;}

// #selecttwo {
//   // width:200px;
//   width: calc(80% - 22px);
// }
.cols-adjust {
  display:flex;
  margin: 2.5px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap:wrap;
}

// Sales Staff Form //
.cancel-btn {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.7);
  background: transparent;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  margin: 4px;
  padding: 12px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s all;
  user-select: none;
  text-decoration:none;
}

.cancel-btn:link:hover {
    text-decoration:none;
    background: #009688;
    color:#fff;
}

// Another way of adjusting the tables on dashboard
// .col-adjust {
//   display: table;
//   flex: 1;
//   margin:0;
// }

#stock-panel h3:hover {
  cursor:pointer;
  text-decoration: underline;
  text-decoration-color:#A9A9A9;
}

#order_user_id {
  margin-top: 10px;
}

.margin-top {
  margin-top: 10px;
}

select {
  color:grey;
}

span {
  color:grey
}

.f-label {
  padding-left: 10px;
  display: block;
  width: 19.5%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
}
